# -*- coding: utf-8 -*-
#
# Copyright (C) 2023 MESH Research
#
# invenio-subjects-fast is free software; you can redistribute it and/or
# modify it under the terms of the MIT License; see LICENSE file for more
# details.

# Update this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  check-manifest -u

include .gitignore
include *.lock
include *.md
include *.rst
include *.sh
include *.txt
include Pipfile
exclude .DS_Store
include tests/data/*.marcxml.zip
exclude tests/downloads/*.marcxml.zip
recursive-include tests .gitkeep
recursive-include tests *.py
recursive-exclude tests .DS_Store
recursive-exclude tests *.marcxml
recursive-exclude tests *.jsonl
recursive-include invenio_subjects_fast .gitkeep
recursive-include invenio_subjects_fast *.py
recursive-include invenio_subjects_fast *.jsonl
recursive-include invenio_subjects_fast *.yaml
recursive-exclude invenio_subjects_fast .DS_Store
recursive-exclude invenio_subjects_fast *.marcxml
recursive-exclude invenio_subjects_fast *.marcxml.zip

# added by check-manifest
recursive-include tests *.lock
